proprietary/odm/etc/camera/license_release_fdc.lic
proprietary/odm/etc/camera/model/license.lic
proprietary/odm/lib64/libarcsoft_turbo_hdr_raw.so
proprietary/system_ext/priv-app/Settings/Settings.apk
proprietary/system_ext/apex/com.android.vndk.v30.apex
