service atlasservice /system_ext/bin/atlasservice
    class main
    user root
    group root graphics drmrpc audio media readproc sdcard_rw system
    capabilities SYS_NICE

on boot
   chmod 0777 /data/persist_log