{
    "default": {
        "gpu_freq_table_path": "/sys/class/kgsl/kgsl-3d0/freq_table_mhz",
        "gpu_freq_stat_path": "/sys/class/kgsl/kgsl-3d0/gpu_clock_stats",
        "loglevel_whitelist": ["com.oplus.cosa"],

        "thermal_list": {
            "skin":"mtktsAP,quiet-therm-adc",
            "battery":"mtktsbattery,battery",
            "cpu":"mtktscpu,dual-gold-max-step"
        },
        "general": {
            "enable": 1,
            "org.cocos2dx.cpp_tests": {
                "enable": 1,
                "type": 3
            }
        },
        "oiface": {
            "enable": 48959
        },
        "oifaceim": {
            "enable": 4294967295,
            "com.tencent.mm": {
                "scene301": [ 12, 2000 ],
                "scene401": [ 15, 3000 ]
            }
        },
        "oifacegame": {
            "enable": 4294967295,
            "com.tencent.tmgp.sgame": {
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.tmgp.sgame/com.tencent.tmgp.sgame.SGameActivity#0"
            },
            "com.tencent.tmgp.sgamece": {
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.tmgp.sgamece/com.tencent.tmgp.sgamece.SGameActivity#0"
            },
            "com.ngame.allstar.eu": {
                "has_start_signal":1,
                "layer": "SurfaceView - com.ngame.allstar.eu/com.ngame.allstar.SGameRealActivity#0"
            },
            "com.garena.game.kgtw": {
                "has_start_signal":1,
                "layer": "SurfaceView - com.garena.game.kgtw/com.garena.game.kgtw.SGameRealActivity#0"
            },
            "com.tencent.tmgp.cf": {
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.tmgp.cf/com.tencent.tmgp.cf.AFMainActivity#0"
            }
        },
        "sdk" : {
            "enable": 1,
            "connectionless": {
                "com.sixjoy.warsong1": {
                    "enable":0,
                    "rules": "if (_fg == 1) {decision(10,18,0,0,0);}"
                }
            },
            "com.tencent.lolm": {
                "enable": 1
            },
            "com.riotgames.league.wildrift": {
                "enable": 1
            },
            "com.riotgames.internal.wildrift.trunk": {
                "enable": 1
            },
            "com.riotgames.internal.wildrift.test": {
                "enable": 1
            },
            "com.riotgames.league.wildriftvn": {
                "enable": 1
            },
            "com.riotgames.league.wildrifttw": {
                "enable": 1
            },
            "com.tencent.tmgp.cf": {
                "enable": 1,
                "layer": "SurfaceView - com.tencent.tmgp.cf/com.tencent.tmgp.cf.AFMainActivity#0"
            },
            "com.tencent.tmgp.NBA": {
                "enable": 1
            },
            "com.taobao.taobao":{
                "enable":1
           },
            "com.tencent.tmgp.speedmobile": {
                "enable": 1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.tmgp.speedmobile/com.tencent.tmgp.speedmobile.speedmobile#0",
                "dc_config":{"7":"key7", "8":"key8", "52":"key9", "53":"key10", "54":"key6"}
            },
            "com.tencent.tmgp.speedmobileEx": {
                "enable": 1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.tmgp.speedmobileEx/com.tencent.tmgp.speedmobileEx.speedmobileEx#0",
                "dc_config":{"7":"key7", "8":"key8", "52":"key9", "53":"key10", "54":"key6"}
            },
            "com.tencent.ig": {
                "enable": 1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.ig/com.epicgames.ue4.GameActivity#0",
                "dc_config":{"7":"key7", "8":"key8", "52":"key9", "53":"key10", "54":"key6"}
            },
            "com.pubg.imobile": {
                "enable": 1,
                "has_start_signal":1
            },
            "com.pubg.krmobile": {
                "enable": 1,
                "layer": "SurfaceView - com.pubg.krmobile/com.epicgames.ue4.GameActivity#0",
                "dc_config":{"7":"key7", "8":"key8", "52":"key9", "53":"key10", "54":"key6"}
            },
            "com.vng.pubgmobile": {
                "enable": 1,
                "layer": "SurfaceView - com.vng.pubgmobile/com.epicgames.ue4.GameActivity#0",
                "dc_config":{"7":"key7", "8":"key8", "52":"key9", "53":"key10", "54":"key6"}
            },
            "com.tencent.tmgp.pubgmhd": {
                "enable": 1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.tmgp.pubgmhd/com.epicgames.ue4.GameActivity#0",
                "dc_config":{"7":"key7", "8":"key8", "52":"key9", "53":"key10", "54":"key6"}
            },
            "com.tencent.tmgp.pubgmhdce": {
                "enable": 1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.tmgp.pubgmhdce/com.epicgames.ue4.GameActivity#0",
                "dc_config":{"7":"key7", "8":"key8", "52":"key9", "53":"key10", "54":"key6"}
            },
            "com.tencent.tmgp.pubgm": {
                "enable":1,
                "has_start_signal":1,
                "layer":"SurfaceView - com.tencent.tmgp.pubgm/com.epicgames.ue4.GameActivity#0"
            },
            "com.netease.hyxd": {
                "enable":1,
                "has_start_signal":1,
                "layer": "com.netease.hyxd/com.netease.game.MessiahNativeActivity#0",
                "dc_config":{"targetFPS":"key7", "renderLevel":"key8"}
            },
            "com.ss.android.ugc.aweme": {
                "enable":1
            },
            "com.tencent.af": {
                "enable":1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.af/com.tencent.af.AFActivity#0"
            },
            "com.tencent.aft": {
                "enable":1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.aft/com.tencent.aft.AFTActivity#0"
            },
            "com.tencent.kof": {
                "enable":1,
                "has_start_signal":1,
                "layer": "SurfaceView - com.tencent.kof/com.tencent.tmgp.kof.GameActivity#0"
            },
            "com.sixjoy.warsong1": {
                "enable":0,
                "has_start_signal":1,
                "layer": "SurfaceView - com.sixjoy.warsong1/com.sixjoy.warsong1.WarsongActivity#0",
                "dc_config":{"7":"key7"}
            },
            "com.tencent.tmgp.jxqy2": {
                "enable":1,
                "layer":"com.tencent.tmgp.jxqy2/com.epicgames.ue4.GameActivity#0"
            },
            "com.tencent.raziel": {
                "enable":1,
                "layer":"com.tencent.raziel/com.py.game.MainActivity#0"
            },
            "com.tencent.tmgp.sgame": {
                "enable":1
            },
            "com.tencent.KiHan": {
                "enable":1
            },
            "com.tencent.YiRen": {
                "enable":1
            },
            "com.tencent.tmgp.WePop": {
                "enable":1
            },
            "com.tencent.tmgp.dnf": {
                "enable":1
            },
            "com.tencent.tmgp.qs": {
                "enable":1
            },
            "com.tencent.tmgp.projectg": {
                "enable":1
            },
            "com.tencent.igce": {
                "enable":1
            },
            "com.miHoYo.enterprise.NGHSoDBeta": {
                "enable":1
            },
            "com.tencent.tmgp.KiHan": {
                "enable":1
            },
            "com.tencent.tmgp.cod": {
                "enable":1
            },
            "com.garena.game.codm": {
                "enable":1
            },
            "com.tencent.tmgp.sgamece": {
                "enable":1
            },
            "com.netease.moba.early": {
                "enable":1
            },
            "com.netease.wptqz": {
                "enable":1
            },
            "com.tencent.qqspmi": {
                "enable":1
            },
            "com.tencent.tmgp.dnftest": {
                "enable":1
            },
            "com.activision.callofduty.shooter": {
                "enable":1
            }
        }
    }
}
