#ifdef OPLUS_FEATURE_WIFI_SNIFFER
#LiangXiao@CONNECTIVITY.WIFI.BASE, 2020/03/24, Add for wifi sniffer service

service oplus_wifi_aidl_service /odm/bin/hw/vendor.oplus.hardware.wifi-aidl-service
    class hal
    user root
    group wifi system vendor_qti_diag net_admin
    capabilities NET_ADMIN NET_RAW SYS_MODULE

#endif /* OPLUS_FEATURE_WIFI_SNIFFER */
