service oplus.engineer-1-0 /odm/bin/hw/vendor-oplus-hardware-engineer@1.0-service
    class main
    user root
    group root system graphics
    interface vendor.oplus.hardware.engineer@1.0::IEngineer default
