# Add 'readproc' for 'proc/pid/task/tid/*'
service oplus.performance.hal.service-1-0 /odm/bin/hw/vendor-oplus-hardware-performance-V1-service
    class hal
    capabilities SYS_PTRACE
    user root
    group system readproc
    interface aidl vendor.oplus.hardware.performance.IPerformance/default
